<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACoYUsTN4RkyRzylEAOEG4C1pKg1MBSWc</string>
	<key>GCM_SENDER_ID</key>
	<string>956906864296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterassignment</string>
	<key>PROJECT_ID</key>
	<string>smit-login-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>smit-login-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956906864296:ios:b9d1c240171f0508aacc9d</string>
</dict>
</plist>